/*--- Button ---*/
.btn {
	color: white;
	border-radius: 5px;
	border: 0px;
	padding: 5px 15px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 6px 12px;
	margin-top: 5px;
}
.btn-red {
	background: #e2494b;
}
.btn-red:hover {
	background: #d81d1f;
}
.btn-blue {
	background: #4986e2;
}
.btn-blue:hover {
	background: #1d79d8;
}
.btn-green {
	background: #17ca2c;
}
.btn-green:hover {
	background: #13b927;
}
.btn-orange {
	background: orange;
}
.btn-orange:hover {
	background: #e89600;
}
/* --- Rows and Columns ----*/
.row {
	display: inline-block;
	width: 100%;
}
.row > .col20 {
	width: 20%;
}
.row > .col10 {
	width: 10%;
}
.row > .col25 {
	width: 25%;
}
.row > .col50 {
	width: 50%;	
}
.row > .col75 {
	width: 74%;
}
.row > .col80 {
	width: 74%;
}
.row > .col100 {
	width: 100%;
}
.row > div[class*=" col"], .row > div[class^="col"]{
	float: left;
	min-height: 10px;
}
.col10 > * , .col20 > *, .col25 > *, .col50 > *, .col75 > *, .col80 > *, .col100 > * {
	padding: 10px 20px;
}
.p0 {
	padding: 0 !important;
}
.p1 {
	padding: 1rem !important;
}
.p2 {
	padding: 2rem !important;
}
.m0, .m-0 {
	margin: 0 !important;
}
.m1 {
	margin: 1rem !important;
}
.m2 {
	margin: 2rem !important;
}
.m-1 {
	margin: -1rem !important;
}
.m-2 {
	margin: -2rem !important;
}
.clear10 {
	height: 10px;
	clear: both;
}
.clear20 {
	height: 20px;
	clear: both;
}
.clear25 {
	height: 25px;
	clear: both;
}
.clear50 {
	height: 50px;
	clear: both;
}
.clear100 {
	height: 100px;
	clear: both;
}
.center {
	text-align: center;
}
.container {
	padding: 0px 50px;
}
.text-white {
	color: white !important;
}
