html, body, h1, h2, h3, h4, h5, h6, ul, section, p {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
body {

	background: whitesmoke;
}
hr {
	margin: 10px 20px;
}
header {
	background: #232425;
	height: 100px;
	display: inline-block;
	width: 100%;
	color: whitesmoke;
	margin-bottom: -4px;
}
header .logo {
	width: 20%;
    float: left;
    height:100px;
    padding: 10px 0px 0px 40px;
}
header .logo h1 {
	text-transform: uppercase;
}
header .logo h1 span {
	font-size: 40px;
}
header nav {
	width: 70%;
	float: right;
	height: 100px;
	text-align: right;
	overflow: hidden;
}
ul.horizontal, ul:not([class="default"]) > li {
	list-style: none;
}
ul.horizontal > li {
	display: inline-block;
}
header > nav > ul > li{
	text-transform: uppercase;
	padding: 41px 20px;
	border-top: 1px solid transparent;
}
header li a {
	text-decoration: none;
}
header > nav > ul > li:hover {
	background: #e2494b;
	cursor: pointer;
	border-top: 1px solid red;
}
.dropdown {
	display: none;	
	position: absolute;
}
.dropdown:hover {
}
.dropdown li {
	padding: 10px;
	background: black;
}
.dropdown li:hover {
	background: #e2494b;
}
nav a:visited {
	color: whitesmoke;
}
header .active > a{
	color: red;
	text-shadow: 1px 1px 1px darkred;
}
header .active:hover > a {
	color: whitesmoke;
}
section {
	background: #1e1e1e;
	color: #666666;
	display: inline-block;
}
section h1 {
	font-size: 65px;
}

.pricing article {
	text-align: center;
}
.pricing h1{
	font-size: 30px;
	text-transform: uppercase;
}
/*--- Footer ---*/
footer form > input:not([type="submit"]), textarea {
	background: #1e1e1e;
	border: 0;
	width: 100%;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	outline: none;
	color: white;
}

footer article {
	border-bottom: 1px solid lightgrey;	
}
footer a {
	color: #e2494b;
	text-decoration: none;
}
footer a:hover {
	color: #d81d1f;
}
footer a::after { 
  content: " »";
}
footer li a::before { 
  content: "» ";
  color: grey;
}
footer article h3 {
	color: #e2494b;
}
footer li a::after { 
  content: "";
}
footer li {
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}
.specifics > li {
	padding: 20px 5px;
	border-bottom: 1px solid lightgrey;
}
.col25 > article {
	overflow: hidden;
}
